.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  backdrop-filter: blur(15px);
  padding: 0 10px;

  .toolbar {
    display: flex;
    justify-content: space-between;

    .logo {
      height: 50px;
      flex-grow: 1;
      display: none;
    }

    .mobileLogo {
      height: 50px;
      display: block;
      padding-right: 10px;
    }

    .rightContent {
      padding-left: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    @media (min-width: 600px) {
      padding: 0 20px;

      .logo {
        display: block;
      }

      .mobileLogo {
        display: none;
      }
    }
  }
}
